<h1>List of courses</h1>

<ul>
    <% @courses.each do |course| %>
        <li>
            <a href="/courses/<%= course.id %>">
                <%= course.course_name %>
            </a>
        </li>
    <% end %>
</ul>