<h1>List of courses</h1>

<ul>
    <% @courses.each do |course| %>
        <li>
            <%= link_to course.course_name, course %>
        </li>
    <% end %>
</ul>

<%= link_to "Add a Course", new_course_path %>