<p>
  <strong>
    <%= unit.unit_name %>
  </strong>
</p>

<p>
  <strong>Description</strong>
  <%= unit.unit_description %>
</p>

<p>
  <strong>Content</strong>
  <%= unit.unit_content %>
</p>

<%# edit unit %>
<%# delete unit %>